$px: 0.052; //1920
$pxm: 0.256; //390

$mobile-width: 435px;

$font-family: 'Jakarta', sans-serif;

$font-color: #0A2530;
$link-color: #0A2530;
$font-size: 14vw * $px;
$line-height: 18vw * $px;

$brandColor: #0A2530;